[submodule "3rdparty/sdl2wrap"]
	path = 3rdparty/sdl2wrap
	url = https://github.com/mkalte666/sdl2wrap.git
	branch = master
[submodule "3rdparty/imgui-cmake-blob"]
	path = 3rdparty/imgui-cmake-blob
	url = https://github.com/mkalte666/imgui-cmake-blob.git
	branch = master
[submodule "3rdparty/imguiplot"]
	path = 3rdparty/imguiplot
	url = https://github.com/mkalte666/imguiplot.git
	branch = master
